@{
    ViewData["Title"] = "SN";
}



<h1>@ViewData["Sobre Nós"]</h1>

<h3>Responsáveis pelo Projeto</h3>
<hr />

<h4> Equipe de desenvolvimento Jedi Coders \|/.</h4>
<div style="color:Highlight">
<h5> - Marli dos Santos Mota</h5>
<h5> - Rafael Elias Bonfim Pinto</h5>
<h5> - Rodrigo Pires Lopes</h5>
</div>
<h6>Desenvolvedor responsável deste projeto: Rodrigo Pires Lopes</h6>

<hr />
<br />

<div>
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>