
@{
    ViewData["Title"] = "EmailEnviado";
}
<br />
<h1>Envio de E-mail</h1>
<hr />
<h4>Seu email foi enviado com sucesso...</h4>
<br />

<div>
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>